In [2]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import timedelta
from time import sleep

def getCloseData(ticker, start, end=None):
    """
    종가 데이터
    ticker: 종목 번호
    start: 시작일
    end: 마지막 날짜
    return: 종목의 종가 데이터
    """
    return fdr.DataReader(ticker, start, end)['Close']

**자산배분 데이터 최신화**

In [3]:
# 기존 데이터 로드
data = pd.read_csv("./정적자산배분데이터.csv", index_col=0, parse_dates=True)
data

,VTI,VBR,TLT,IEF,IEI,SHY,GSG,GLD
2010-01-04,46.08189,55.52,66.13332,71.24535,94.21502,75.39010,32.70,109.80
2010-01-05,46.25879,55.46,66.56042,71.55817,94.51414,75.48085,33.03,109.70
2010-01-06,46.32312,55.55,65.66942,71.26941,94.38595,75.48993,33.27,111.51
2010-01-07,46.51610,56.04,65.77987,71.26941,94.35176,75.47178,33.11,110.82
2010-01-08,46.66887,56.24,65.75042,71.35764,94.48850,75.54438,33.18,111.37
...,...,...,...,...,...,...,...,...
2022-07-27,200.86000,160.25,116.82000,104.10000,120.49000,82.88000,22.86,161.67
2022-07-28,203.48000,162.72,117.75000,105.13000,121.23000,83.06000,22.79,163.64
2022-07-29,206.25000,164.54,117.43000,105.17000,121.26000,83.05000,22.93,164.10
2022-08-01,205.77000,164.45,120.04000,105.60000,121.30000,82.96000,22.25,165.03
2022-08-02,204.66000,162.60,117.50000,104.14000,120.17000,82.67000,22.05,164.05

In [5]:
# 티커 조회
tickers= data.columns
tickers

Index(['VTI', 'VBR', 'TLT', 'IEF', 'IEI', 'SHY', 'GSG', 'GLD'], dtype='object')

In [6]:
# 추가할 데이터의 시작점
start = data.index[-1]+timedelta(days=1)
start

Timestamp('2022-08-03 00:00:00')

In [8]:
# 빈 데이터 프레임 생성
newDf = pd.DataFrame()

In [9]:
# 최신 데이터 조회, 데이터프레임에 추가
for ticker in tickers:
    newData = getCloseData(ticker, start)
    newDf = pd.concat([newDf, newData], axis=1)
    sleep(5) # 요청 수 제한 방지를 위한 시간 텀
newDf

,Close,Close,Close,Close,Close,Close,Close,Close
2022-08-03 00:00:00,207.95,163.72,119.35,104.57,120.39,82.7,21.85,164.45

In [10]:
# 컬럼과 인덱스 설정
newDf.columns = tickers
newDf.index = pd.to_datetime(newDf.index)
newDf

               VTI     VBR     TLT     IEF     IEI   SHY    GSG     GLD
2022-08-03  207.95  163.72  119.35  104.57  120.39  82.7  21.85  164.45

In [11]:
# 기존 데이터와 합치기
updatedData = pd.concat([data, newDf])
updatedData

,VTI,VBR,TLT,IEF,IEI,SHY,GSG,GLD
2010-01-04,46.08189,55.52,66.13332,71.24535,94.21502,75.39010,32.70,109.80
2010-01-05,46.25879,55.46,66.56042,71.55817,94.51414,75.48085,33.03,109.70
2010-01-06,46.32312,55.55,65.66942,71.26941,94.38595,75.48993,33.27,111.51
2010-01-07,46.51610,56.04,65.77987,71.26941,94.35176,75.47178,33.11,110.82
2010-01-08,46.66887,56.24,65.75042,71.35764,94.48850,75.54438,33.18,111.37
...,...,...,...,...,...,...,...,...
2022-07-28,203.48000,162.72,117.75000,105.13000,121.23000,83.06000,22.79,163.64
2022-07-29,206.25000,164.54,117.43000,105.17000,121.26000,83.05000,22.93,164.10
2022-08-01,205.77000,164.45,120.04000,105.60000,121.30000,82.96000,22.25,165.03
2022-08-02,204.66000,162.60,117.50000,104.14000,120.17000,82.67000,22.05,164.05
2022-08-03,207.95000,163.72,119.35000,104.57000,120.39000,82.70000,21.85,164.45

In [ ]:
# 파일 업데이트
updatedData.to_csv("./동적자산배분데이터.csv")

**함수화**

In [2]:
def updateDynamicDataSet():
    """
    자산배분데이터 최신화
    from datetime import timedelta
    from time import sleep
    """
    data = pd.read_csv("./동적자산배분데이터.csv", index_col=0, parse_dates=True)
    tickers = data.columns

    start = data.index[-1]+timedelta(days=1)

    newDf = pd.DataFrame()

    for ticker in tickers:
        newData = getCloseData(ticker, start)
        newDf = pd.concat([newDf, newData], axis=1)
        sleep(5)

    newDf.columns = tickers
    newDf.index = pd.to_datetime(newDf.index)
    updatedData = pd.concat([data, newDf])
    updatedData.to_csv("./동적자산배분데이터.csv")
    return updatedData

In [7]:
def updateStaticDataSet():
    """
    자산배분데이터 최신화
    from datetime import timedelta
    from time import sleep
    """
    data = pd.read_csv("./정적자산배분데이터.csv", index_col=0, parse_dates=True)
    tickers = data.columns

    start = data.index[-1]+timedelta(days=1)

    newDf = pd.DataFrame()

    for ticker in tickers:
        newData = getCloseData(ticker, start)
        newDf = pd.concat([newDf, newData], axis=1)
        sleep(5)

    newDf.columns = tickers
    newDf.index = pd.to_datetime(newDf.index)
    updatedData = pd.concat([data, newDf])
    updatedData.to_csv("./정적자산배분데이터.csv")
    return updatedData

In [4]:
updateDynamicDataSet()

ValueError: No tables found

In [8]:
updateStaticDataSet()

,VTI,VBR,TLT,IEF,IEI,SHY,GSG,GLD
2010-01-04,46.08189,55.52,66.13332,71.24535,94.21502,75.39010,32.70,109.80
2010-01-05,46.25879,55.46,66.56042,71.55817,94.51414,75.48085,33.03,109.70
2010-01-06,46.32312,55.55,65.66942,71.26941,94.38595,75.48993,33.27,111.51
2010-01-07,46.51610,56.04,65.77987,71.26941,94.35176,75.47178,33.11,110.82
2010-01-08,46.66887,56.24,65.75042,71.35764,94.48850,75.54438,33.18,111.37
...,...,...,...,...,...,...,...,...
2022-07-27,200.86000,160.25,116.82000,104.10000,120.49000,82.88000,22.86,161.67
2022-07-28,203.48000,162.72,117.75000,105.13000,121.23000,83.06000,22.79,163.64
2022-07-29,206.25000,164.54,117.43000,105.17000,121.26000,83.05000,22.93,164.10
2022-08-01,205.77000,164.45,120.04000,105.60000,121.30000,82.96000,22.25,165.03
2022-08-02,204.66000,162.60,117.50000,104.14000,120.17000,82.67000,22.05,164.05