In [1]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import timedelta
from time import sleep

def getCloseData(ticker, start, end=None):
    """
    종가 데이터
    ticker: 종목 번호
    start: 시작일
    end: 마지막 날짜
    return: 종목의 종가 데이터
    """
    return fdr.DataReader(ticker, start, end)['Close']

In [4]:
def updateDynamicDataSet():
    """
    자산배분데이터 최신화
    from datetime import timedelta
    from time import sleep
    """
    data = pd.read_csv("동적자산배분데이터.csv", index_col=0, parse_dates=True)
    tickers = data.columns

    start = data.index[-1]+timedelta(days=1)

    newDf = pd.DataFrame()

    for ticker in tickers:
        newData = getCloseData(ticker, start)
        newDf = pd.concat([newDf, newData], axis=1)
        sleep(3)

    newDf.columns = tickers
    newDf.index = pd.to_datetime(newDf.index)
    updatedData = pd.concat([data, newDf])
    updatedData.to_csv("동적자산배분데이터.csv")
    return updatedData

In [5]:
def updateStaticDataSet():
    """
    자산배분데이터 최신화
    from datetime import timedelta
    from time import sleep
    """
    data = pd.read_csv("정적자산배분데이터.csv", index_col=0, parse_dates=True)
    tickers = data.columns

    start = data.index[-1]+timedelta(days=1)

    newDf = pd.DataFrame()

    for ticker in tickers:
        newData = getCloseData(ticker, start)
        newDf = pd.concat([newDf, newData], axis=1)
        sleep(3)

    newDf.columns = tickers
    newDf.index = pd.to_datetime(newDf.index)
    updatedData = pd.concat([data, newDf])
    updatedData.to_csv("정적자산배분데이터.csv")
    return updatedData

In [6]:
updateDynamicDataSet()
updateStaticDataSet()

,VTI,VBR,TLT,IEF,IEI,SHY,GSG,GLD
2010-01-04,46.08189,55.52,66.13332,71.24535,94.21502,75.39010,32.70,109.80
2010-01-05,46.25879,55.46,66.56042,71.55817,94.51414,75.48085,33.03,109.70
2010-01-06,46.32312,55.55,65.66942,71.26941,94.38595,75.48993,33.27,111.51
2010-01-07,46.51610,56.04,65.77987,71.26941,94.35176,75.47178,33.11,110.82
2010-01-08,46.66887,56.24,65.75042,71.35764,94.48850,75.54438,33.18,111.37
...,...,...,...,...,...,...,...,...
2022-06-27,194.59000,154.32,111.60000,100.58000,118.16000,82.55000,23.94,169.90
2022-06-28,190.58000,152.64,112.12000,100.71000,118.17000,82.53000,24.23,169.62
2022-06-29,190.26000,150.95,113.87000,101.52000,118.71000,82.63000,23.79,169.49
2022-06-30,188.62000,149.82,114.87000,102.30000,119.34000,82.79000,23.10,168.46
2022-07-01,190.61000,151.94,115.82000,103.24000,120.21000,82.96000,23.38,168.32

In [3]:
data1 = pd.read_csv("us_etf_2.csv", index_col=0, parse_dates=True)
data1.col

,AGG,BND,EEM,EWJ,GLD,GSG,HYG,IEF,IEI,IJS,...,SHV,SHY,SPY,TLT,UST,VEA,VGK,VNQ,VTI,VWO
date_time,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,47.17861,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,97.50794,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,45.89642,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,93.69317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,44.61423,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,93.86078,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,42.80752,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,92.35230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,43.71088,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,97.71577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-23,116.16,86.52,50.25,67.54000,168.73,15.42,87.56,117.56,131.31,100.67,...,110.47,86.200,447.26000,150.45,70.9566,51.97,69.43,106.39,230.32,50.06
2021-08-24,115.99,86.35,51.39,68.14000,168.65,15.74,87.68,117.24,131.16,101.47,...,110.47,86.185,447.97000,149.28,70.5200,52.22,69.48,105.92,231.14,51.18
2021-08-25,115.77,86.21,51.45,68.01000,167.48,15.84,87.77,116.78,130.98,101.90,...,110.48,86.180,448.91000,148.04,69.9338,52.26,69.57,105.85,231.80,51.23
2021-08-26,115.78,86.22,50.96,67.66000,167.67,15.79,87.72,116.78,130.95,100.67,...,110.47,86.180,446.26000,148.45,69.9316,51.93,69.16,105.89,230.25,50.81
2021-08-27,116.10,86.47,51.59,68.13000,170.19,16.01,87.96,117.16,131.21,103.64,...,110.47,86.240,450.25000,149.46,70.3252,52.47,69.94,107.00,232.73,51.45

In [2]:
data2 = pd.read_csv("동적자산배분데이터.csv", index_col=0, parse_dates=True)
data2

,SHY,GSG,TLT,SPY,VTI,BND,VNQ,VWO,VEA,EWJ,...,HYG,VGK,SHV,UST,IWM,EEM,LQD,IEF,AGG,DBC
2009-01-02,74.71815,29.61,82.52249,72.54897,36.17632,54.50851,21.13848,18.37935,19.22968,31.71652,...,34.46859,25.02595,103.7816,NaN,42.24755,20.46180,63.88389,75.41508,74.28091,21.93
2009-01-05,74.86900,30.63,80.39471,72.46313,36.16846,54.27989,20.74913,18.67543,18.94444,30.92608,...,36.13357,24.76346,103.8569,NaN,42.39898,20.72774,64.32201,75.28307,75.46452,22.16
2009-01-06,74.90449,31.20,79.58615,72.94700,36.46711,53.93349,21.78539,19.00852,19.11141,30.62966,...,36.43835,25.21161,103.9040,NaN,43.11404,21.19705,64.42996,75.23648,75.04128,22.74
2009-01-07,74.85125,29.02,79.89822,70.76178,35.44540,54.09976,21.05462,18.00184,18.88182,30.33324,...,35.77874,24.75066,103.9229,NaN,41.84376,19.97685,63.89024,75.25201,74.35264,21.58
2009-01-08,74.86900,28.62,79.83439,71.05054,35.60259,54.00970,20.89888,17.89081,19.10445,30.76140,...,35.26014,25.02595,103.8099,NaN,42.04565,19.89081,64.34741,75.45390,73.78593,21.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-27,82.55000,23.94,111.60000,388.59000,194.59000,74.47000,92.98000,42.22000,41.50000,53.23000,...,74.58000,53.97000,110.0000,52.16,175.74000,40.70000,109.08000,100.58000,100.60000,27.64
2022-06-28,82.53000,24.23,112.12000,380.65000,190.58000,74.51000,91.85000,41.94000,41.28000,53.15000,...,73.76000,53.44000,110.0500,52.18,172.44000,40.45000,109.05000,100.71000,100.64000,27.97
2022-06-29,82.63000,23.79,113.87000,380.34000,190.26000,74.94000,91.28000,41.83000,41.03000,52.91000,...,73.65000,53.13000,110.0700,53.03,170.69000,40.29000,109.70000,101.52000,101.22000,27.49
2022-06-30,82.79000,23.10,114.87000,377.25000,188.62000,75.26000,91.11000,41.65000,40.80000,52.83000,...,73.61000,52.82000,110.1000,53.88,169.36000,40.10000,110.03000,102.30000,101.68000,26.64
2022-07-01,82.96000,23.38,115.82000,381.24000,190.61000,75.71000,92.75000,41.40000,40.89000,53.05000,...,73.98000,52.86000,110.0200,55.04,171.41000,39.85000,111.12000,103.24000,102.34000,26.77